{{> head}}

    {{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>ABOUT IMG with Partials</h1>
    </div>
    <div class="col-4">
        <img src="assets/img/Shadow1.png" class="img-thumbnail">
    </div>
</div>

{{> footer}}